{% extends "base.html" %}
{% block content %}
<img class="img-fluid" src="{{ SITEURL }}/theme/img/pz.jpg" alt="pz">
<section class="info">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <p><strong>Patagonia PZ</strong> es un servidor comunitario del juego <strong>Project Zomboid</strong>.
                    Se encuentra en alojado en <strong>Argentina</strong>, dentro de los servidores de la empresa <a
                        href="https://web.minehost.com.ar/" target="_blank">minehost</a>, quienes desde el primer
                    momento, y sin siquiera pedirnos absolutamente nada a cambio, nos ofrecieron una máquina, para que
                    podamos probar el servicio y de esa forma, poder formar esta comunidad que hoy tenemos y que sigue
                    creciendo.</p>
                <p>Actualmente, recibe donaciones de la comunidad, que ayuda de manera desinteresada y sin pedir ningún
                    tipo de beneficio, a mantener el servidor. La premisa del proyecto es simple, mientras el hosting,
                    se pueda pagar, es más que suficiente. Para nosotros esto es un hobbie, y no pretendemos tener
                    ningún tipo de remuneración al respecto. Pero tampoco, vamos a hacernos cargo de un servidor, donde
                    ni siquiera se pueda pagar todos los meses la máquina. Esto no es un servidor cooperativo, es un
                    servidor 24 x 7 y como tal, requiere de un dinero fijo todos los meses. Si quieres consultar los
                    gastos y donaciones del servidor, puedes hacerlo ingresando en el siguiente <a
                        href="https://docs.google.com/spreadsheets/d/1aDiHWy3ehNVMC5s5T-eJk5nJ-VyV1IlWOU8_D3lguI4"
                        target="_blank">enlace</a>.</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
