{% extends "base.html" %}
{% block content %}
{% for item in patagoniaItems %}
<div class="row">
    <div class="col-md-5">
        <table class="table table-bordered table-sm text-center align-middle">
            <thead class="table-success">
                <tr>
                    <th colspan="{{ item.itemMaterials.count + 1 }}" class="text-center"><img src="{{ item.itemImage }}" alt=""> {{ item.itemName }}</th>
                </t>
            </thead>
            <tbody>
                <tr>
                    <th scope="col">Materiales</th>
                    {% for material in item.itemMaterials %}
                    <td scope="col">
                        <img src="{{ material.materialmg }}" alt="{{ material.materialName }}" />
                        <span> x{{ material.materialCount }}</span>
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Herramientas</th>
                    {% for tool in item.itemTools %}
                    <td>
                        <img src="{{ tool.toolImg }}" />
                        <span> x{{ tool.toolCount }}</span>
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endfor %}
{% endblock content %}
